body {
  background-color: rgb(202, 225, 255);
}

h1{
  font-family: sans-serif;
}
.results {
  /*overflow: auto;*/
  /*border: 1px solid black;*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.searchResults {
  width: 150px;
  margin-left: 15px;
  margin-bottom: 15px;
}
#music-player {
  width: 1000px;
}

.inputBox {
  width: 500px;
}

.button{
  color: rgb(193, 205, 205);
}
